# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nofwdohrmkecallousyk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5vZndkb2hybWtlY2FsbG91c3lrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMzc1OTIsImV4cCI6MjA5MTcxMzU5Mn0.ArYy_PmfHlhVOWqztDJayt-BcjF4FkTC_m5z8kACtQs

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
